.rail {
  width: 1850px;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.rail ul {
  min-width: 100%;
  white-space: nowrap;
  padding: 0;
}

.rail li {
  display: inline-block;
  width: 400px;
  height: 100%;
  margin: 0 auto;
}

.rail li img {max-width: 400px}
