/*.header,
.footer {
  width: 100%;
}*/


.header div {
  top: 0;
}

.header div,
.footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: white;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

img.logo {
  height: 30px;
  width: 200px;
}

.footer {
  top: calc(100vh - 50px);
  position: fixed;
}

.mishka {
  display: block;
  height: 30px;
  width: 30px;
  margin: 0 auto;
}

.about {
  display: block;
  width: 80px;
  height: 30px;
}
