.header,
.footer {
  width: 100%;
}

.header div,
.footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: red;
}

img.logo {
  height: 50px;
  width: 50px;
}
